@font-face {
  font-family: mouse-memoirs;
  src: url(../../assets/fonts/MouseMemoirs-Regular.ttf);
}

:host {
  display: block;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 220px;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;

    .title-wrapper {
      margin: 0 auto;

      .title {
        height: 136px;
      }
    }

    .back-wrapper {
      flex-grow: 0;
      width: 100px;
      height: 100px;
      background: linear-gradient(180deg, rgba(254,113,254,1) 0%, rgba(113,153,255,1) 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    gap: 6.5rem;
    justify-content: center; 
    align-items: center;

    .category {
      background-color: #2463FF;
      padding: 1rem 2rem;
      border-radius: 15px;
      cursor: pointer;
      text-align: center;
      font-size: 48px;
      font-family: mouse-memoirs;
      color: #fff;
      width: 290px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
      box-shadow: inset 6px 11px 0px -4px #3C74FF, inset -6px 12px 0px -4px #3C74FF;
      transition: 0.8s;
      
      &:hover, &:focus, &.focused {
        background-color: rgb(86 132 247 / 80%);;
        cursor: pointer;
      }
    }
  }
}
