@font-face {
    font-family: mouse-memoirs;
    src: url(../../assets/fonts/MouseMemoirs-Regular.ttf);
}
  
  :host {
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 220px;
    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            align-items: center;
            .settings-wrapper {
                flex-grow: 0;
                width: 100px;
                height: 100px;
                background: linear-gradient(180deg, rgba(254,113,254,1) 0%, rgba(113,153,255,1) 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                margin-left: 10px;
            }
            .category-wrapper {
                font-family: 'mouse-memoirs';
                font-size: 48px;
                color: #fff;
            }
        }
        .right {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            margin-right: 20px;
            .lives-meter {
                width: 100px;
                height: 20px;
                background-color: #fff;
                border-radius: 10px;
                overflow: hidden;
                margin-right: 20px;
                padding: 5px;
                display: flex;
                align-items: center;
                .lives-bar {
                    height: 60%;
                    background-color: #261676;
                    transition: width 0.3s ease;
                    border-radius: 10px;
                }
            }
        }  
    }
    .bottom {
        .word-display {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            flex-direction: column;
            .letter {
                display: flex;
                flex-direction: row;
            }
        }
    }
}