@font-face {
    font-family: mouse-memoirs;
    src: url(../../assets/fonts/MouseMemoirs-Regular.ttf);
}
  
  :host {
    background-color: rgba(40, 43, 150, .5);
    display: block;
    height: 100vh;
    
    .game-container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px;
            .left{
                margin-top: 20px;
                display: flex;
                gap: 20px;
                align-items: center;
                .settings-wrapper {
                    flex-grow: 0;
                    width: 100px;
                    height: 100px;
                    background: linear-gradient(180deg, rgba(254,113,254,1) 0%, rgba(113,153,255,1) 100%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    margin-left: 10px;
                }
                .category-wrapper {
                    font-family: 'mouse-memoirs';
                    font-size: 48px;
                    color: #fff;
                }
            }
            .right {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;
                margin-right: 20px;
                .lives-meter {
                    width: 100px;
                    height: 20px;
                    background-color: #fff;
                    border-radius: 10px;
                    overflow: hidden;
                    margin-right: 20px;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    .lives-bar {
                        height: 60%;
                        background-color: #261676;
                        transition: width 0.3s ease;
                        border-radius: 10px;
                    }
                }
            }  
        }
        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 65px;
            .word-display {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                flex-direction: column;
                gap: 10px;
                font-family: 'mouse-memoirs';
                font-size: 64px;
                color: #fff;
                .word-line{
                    display: flex;
                    gap: 10px;
                    span {
                        width: 70px;
                        height: 100px;
                        border-radius: 17px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &.guessed {
                            background-color: #2463FF;
                            -webkit-box-shadow: inset 14px 10px 0px -3px rgba(60,116,255,1);
                            -moz-box-shadow: inset 14px 10px 0px -3px rgba(60,116,255,1);
                            box-shadow: inset 8px 13px 0px -10px #3c74ff, inset -1px 4px 0px 0px #3c74ff;
                        }
                        &.not-guessed {
                            box-shadow: inset 0 0 0 1000px rgba(36, 99, 255, .3)
                        }
                    }
                }
            }
            .alphabet {
                display: flex;
                flex-wrap: wrap;
                gap: 27px;
                width: 885px;
                button {
                    width: 65px;
                    height: 85px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "mouse-memoirs";
                    font-size: 48px;
                    color: #261676;
                    background-color: #fff;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    border: none;
                    &:disabled {
                        background-color: unset;
                        box-shadow: inset 0 0 0 1000px rgb(75 99 159 / 30%);
                        cursor: not-allowed;
                    }
                    &:hover {
                        background-color: #3c74ff;
                        color: #fff;
                    }
                }
            }
        }
    }
    
}