@import '../../_variables.scss';
  
  :host {
    background-color: rgba(40, 43, 150, .5);
    display: block;
    height: 100vh;
    
    .game-container {
        display: flex;
        flex-direction: column;
        gap: 100px;

        @include respond-to(tablet) {
            gap: 20%;
        }

        @include respond-to(phone) {
            gap: clamp(20px, 65px, 100px);
        }

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px;

            @include respond-to(phone) {
                margin: unset;
            }

            .left{
                margin-top: 20px;

                @include respond-to(phone) {
                    margin-top: unset;
                }

                display: flex;
                gap: 20px;
                align-items: center;
                .settings-wrapper {
                    flex-grow: 0;
                    width: 100px;
                    height: 100px;

                    @include respond-to(phone) {
                        width: 50px;
                        height: 50px;
                    }

                    background: linear-gradient(180deg, rgba(254,113,254,1) 0%, rgba(113,153,255,1) 100%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    margin-left: 10px;

                    img {
                        width: 50%;
                    }
                }
                .category-wrapper {
                    font-family: $font;
                    font-size: 48px;

                    @include respond-to(phone) {
                        font-size: 40px;
                    }

                    color: $white;
                }
            }
            .right {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;
                margin-right: 20px;

                @include respond-to(phone) {
                    margin-right: unset;
                    gap: unset;
                }

                .lives-meter {
                    width: 100px;
                    height: 20px;
                    background-color: $white;
                    border-radius: 10px;
                    overflow: hidden;
                    margin-right: 20px;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                
                    @include respond-to(phone) {
                        margin-right: 10px;
                        width: 60px;
                        height: 10px;
                        padding: 3px;
                    }

                    .lives-bar {
                        height: 60%;
                        background-color: $dark-navy;
                        transition: width 0.3s ease;
                        border-radius: 10px;
                    }
                }

                .heart-wrapper {
                    img {
                        @include respond-to(phone) {
                            width: 50px;
                        }
                    }
                }
            }  
        }
        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 65px;
            margin-bottom: 40px;

            @include respond-to(tablet) {
                gap: 20px;
                margin-bottom: unset;
            }

            @include respond-to(phone) {
                gap: clamp(20px, 40px, 65px);
                margin-bottom: 20px;
            }

            .word-display {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                flex-direction: column;
                gap: 12px;
                font-family: $font;
                font-size: 64px;

                @include respond-to(tablet) {
                    font-size: 48px;
                    margin-bottom: 1%;
                }

                @include respond-to(phone) {
                    font-size: 32px;
                }

                color: $white;
                .word-line{
                    display: flex;
                    gap: 10px;
                    span {
                        width: 70px;

                        @include respond-to(phone) {
                            width: 35px;
                            height: 64px;
                            border-radius: 12px;
                        }

                        height: 100px;
                        border-radius: 17px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &.guessed {
                            background-color: $blue;
                            -webkit-box-shadow: inset 14px 10px 0px -3px rgba(60,116,255,1);
                            -moz-box-shadow: inset 14px 10px 0px -3px rgba(60,116,255,1);
                            box-shadow: inset 8px 13px 0px -10px #3c74ff, inset -1px 4px 0px 0px #3c74ff;
                        }
                        &.not-guessed {
                            box-shadow: inset 0 0 0 1000px rgba(36, 99, 255, .3)
                        }
                    }
                }
            }
            .alphabet {
                display: flex;
                flex-wrap: wrap;
                gap: 27px;
                width: 885px;

                @include respond-to(tablet) {
                    margin: 20px 20px 0 20px;
                    width: unset;
                    column-gap: 8px;
                    row-gap: 24px;
                }


                @include respond-to(phone) {
                    margin: 20px;
                    width: unset;
                    column-gap: 8px;
                    row-gap: 24px;
                }

                button {
                    width: 65px;
                    height: 85px;

                    @include respond-to(phone) {
                        width: 30px;
                        height: 57px;
                        border-radius: 12px;
                        font-size: 32px
                    }

                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $font;
                    font-size: 48px;
                    color: $dark-navy;
                    background-color: $white;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    border: none;
                    &:disabled {
                        background-color: unset;
                        box-shadow: inset 0 0 0 1000px rgb(75 99 159 / 30%);
                        cursor: not-allowed;
                    }
                    &:hover {
                        background-color: #3c74ff;
                        color: $white;
                    }
                }
            }
        }
    }
    
}