@import '../../variables';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .mainMenu {
        height: 59.56%;
        width: 41.12%;

        @include respond-to(tablet) {
            width: 71.12%;
        }
       
        @include respond-to(phone) {
            width: 85.12%;
        }

        .play-wrapper-outer {
            background: rgb(52,74,186);
            background: linear-gradient(180deg, rgba(52, 74, 186, 1) 0%,  rgba(0, 20, 121, 0.83) 100%);    
            height: 81%;

            @include respond-to(phone) {
                height: 100%;
            }

            position: relative;
            top: 14%;
            border-radius: 60px;
            box-shadow: inset 3px -10.8px 2px -0.1px #140E66, 4px 0px 0px 1px #140E66, inset 7px -10px 17px 7px $blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            button {
                width: 27%;

                @include respond-to(tablet) {
                    width: 45%;
                    margin-top: 10px;
                }

                @include respond-to(phone) {
                    width: 75%;
                    margin-top: 15px;
                }

                height: 10%;
                background-color: $blue;
                border-radius: 50px;
                border: none;
                font-family: $font;
                color: $white;
                font-size: 32px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, inset 0px 2.72px 0px 2.35px rgba(60,116,255,1);

                &:hover {
                    background-color: rgb(86 132 247 / 80%);
                    cursor: pointer;
                }
            }
        }
        .title {
            z-index: 5;
            position: absolute;
            left: 40%;
            bottom: 64%;

            @include respond-to(tablet) {
                left: 26%
            }

            @include respond-to(phone) {
                left: 15%;
                width: 70%;
            }
        }
        .play-inner {
           background: linear-gradient(to bottom, #FE71FE 0%, #7199FF 100%);
           width: 25%;
           height: 37%;

            @include respond-to(tablet) {
                width: 35%;
                height: 36%;
                margin-top: 20px;
            }

            @include respond-to(phone) {
                width: 50%;
                height: 30%;
            }

           border-radius: 50%;
           display: flex;
           align-items: center;
           justify-content: center;
           box-shadow: 0px 13px 0px 3px #243041, inset -2px -4px 0px 6px #9d2df5;
           
           &:hover {
               cursor: pointer;
               background: linear-gradient(to bottom, #f380f3 35%, #8dabf9 100%);
           }
        }
    }
}

