<div class="top">
    <div class="back-wrapper" (click)="onBack()">
        <img class="backIcon-wrapper"
            src="https://res.cloudinary.com/dcbbqlssh/image/upload/v1715593073/FEMentors/icon-back_rpnzgw.svg"
            alt="back">
    </div>
    <div class="title-wrapper"><img class="title"
            src="https://res.cloudinary.com/dcbbqlssh/image/upload/v1715778028/FEMentors/How_to_Play_srdenp.png"
            alt="Title"></div>
</div>
<div class="bottom">
    <div class="rule">

        <h1>01</h1>
        <h2>CHOOSE A CATEGORY</h2>

        <P>First, choose a word category, like animals or movies. The computer then randomly selects a secret word from
            that topic and shows you blanks for each letter of the word</P>
    </div>
    <div class="rule">

        <h1>02</h1>
        <h2>GUESS LETTERS</h2>

        <P>Take turns guessing letters. The computer fills in the relevant blank spaces if your guess is correct. If
            it's wrong, you lose some health, which empties after eight incorrect guesses.</P>
    </div>
    <div class="rule">

        <h1>03</h1>
        <h2>WIN OR LOSE</h2>

        <p>You win by guessing all the letters in the word before your health runs out. If the health bar empties before
            you guess the word, you lose</p>
    </div>

</div>