@use "sass:map";

@font-face {
  font-family: mouse-memoirs;
  src: url(./assets/fonts/MouseMemoirs-Regular.ttf);
}

$font: 'mouse-memoirs';

$dark-navy: #261676;
$blue: #2463FF;
$white: #fff;

$breakpoints-map: (
  phone: 425px,
  tablet: 768px
);

@mixin respond-to($breakpoints...) {
  @each $breakpoint in $breakpoints {
    $size: map.get($breakpoints-map, $breakpoint);
    @if $size {
      @media (max-width: $size) {
        @content;
      }
    } @else {
      @warn "Breakpoint #{$breakpoint} not found in \$breakpoints-map.";
    }
  }
}
