@import "variables";

body {
    background-image: url("https://res.cloudinary.com/dcbbqlssh/image/upload/v1715593072/FEMentors/background-desktop_lqusmb.svg");  
    background-repeat: no-repeat;
    background-size: cover;
    margin: unset;
    
    @include respond-to(tablet) {
        background-image: url("https://res.cloudinary.com/dcbbqlssh/image/upload/v1715593072/FEMentors/background-tablet_fce8xw.svg");
    }

    @include respond-to(phone) {
        background-image: url("https://res.cloudinary.com/dcbbqlssh/image/upload/v1715593073/FEMentors/background-mobile_pcaspc.svg");
    }
}       